body {
  background-color: wheat;
  font-family: georgia;
}
p {
  color: red;
  text-align: center;
  line-height: 30px;
}
h1 {
  text-align: center;
}
h3 {
  text-align: center;
  color: black;
}
h4 {
  text-align: center;
}
a {
  color: rgb(00, 255, 00);
  text-decoration: none;
}
button {
  background-color: white;
  color: #7f00ff;
}
textarea {
  color: #000000;
  /* background-color: #000000; */
}
span {
  text-decoration: underline;
}
