/* div {
  height: 200px;
  width: 200px;
  background-color: aqua;
  border: 2px dashed black;

  display: inline-block;
} */

/* h1 {
  border: 2px solid black;
  width: 50%;
} */
/* #outer {
  font-size: 20px;
  height: 400px;
  width: 400px;
  border: 2px solid black;
  background-color: aqua;
} */
/* #inner {
  height: 100px;
  width: 100px;
  font-size: 0.5em;
  padding: 1em;
  background-color: pink;
} */
div {
  font-size: 0.5 rem;
}
section {
  font-size: 75px;
}
html {
  font-size: 50px;
}
