#rainbow {
  height: 600px;
  width: 80%;
  background-color: azure;
  margin: 10px auto;
  border: 2px solid #000000;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* flex-wrap: wrap; */
  align-items: baseline;
  align-content: space-evenly;
}
h1 {
  text-align: center;
}

#violet {
  background-color: #8f00ff;
}
#indigo {
  background-color: #233067;
}
#blue {
  background-color: #0000ff;
  flex-grow: 2;
}
#green {
  background-color: #008000;
}
#yellow {
  background-color: #ffff00;
}
#orange {
  background-color: #ffa500;
  flex-shrink: 2;
}
#red {
  background-color: #ff0000;
}
#rainbow div {
  height: 50px;
  width: 300px;
  color: white;
  text-align: center;
  font-size: 1.5em;
}
