#outer {
  height: 50px;
  width: 900px;
  border: 2px solid aqua;
  border-radius: 10px;
  background-color: pink;
  display: flex;
  justify-content: flex-start;
  align-content: center;
}
#inner {
  height: 50px;
  width: 80px;
  font-size: 25px;
  font-weight: bold;
  margin-left: 50px;
  line-height: 50px;
}
