/* .container {
  width: 600px;
  height: 300px;
  background-color: yellow;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  column-gap: 10px;
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
}
.item {
  width: 100px;
  height: 50px;
  background-color: greenyellow;
  border: 2px solid black;
  text-align: center;
}
.one {
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: greenyellow;
  border: 2px solid black;
  text-align: center;
  justify-self: center;
  align-self: center;
}
.two {
  grid-row-start: 2;
  grid-row-end: 5;
  background-color: greenyellow;
  border: 2px solid black;
  text-align: center;
} */
.box {
  height: 150px;
  width: 150px;
  border: 2px solid black;
  background-color: pink;
}
.one {
  background-color: aqua;
  position: relative;
  z-index: -1;
}
.two {
  background-color: greenyellow;
  position: relative;
  bottom: 50px;
  z-index: -2;
}
